# dClimate client

In [1]:
import dweather_client

In [2]:
from dweather_client import client

In [8]:
valid_name = client.get_heads()

In [9]:
valid_name

{'aemo-semihourly': 'QmQ6u61Xo5RbY97L75p1KHBBHWACHvyrXNyM1Vsd4uZbq9',
 'alberta_power-hourly': 'Qmf8arcP3FFNLKtfeg2Jqdqu48LdMGam6UWHe3Uu2pj7Kj',
 'atcf_btk-seasonal': 'QmUhXgUpCQbP6nwA4w1ijNP1wrMcRfA9eaSDEkwbito7cQ',
 'chirpsc_final_05-daily': 'QmfEuyqJyUnmfq9Um5jzSpe8gAPfif9p3ixTcqQfWeHtm7',
 'chirpsc_final_25-daily': 'QmVNqmPAtAvtVshNRf9Vm8katrubztWSHHKMHeF9zrRhTk',
 'chirpsc_prelim_05-daily': 'QmenYP6W3y5Frov2L97fpLfCeWbCVBEhskydD8Kxq6QV4x',
 'cpcc_precip_global-daily': 'Qma25QsFG5kKuBXLC152wPditUg9qq9m1mKPYiGTmRexpg',
 'cpcc_precip_us-daily': 'QmNcRpr5f3LJhSsqhDCsteG4PtVKsReyE6uVRT8MtC5wDm',
 'cpcc_temp_max-daily': 'QmawphhCFzRsQN2TjZZhb7p9ucjvsj3h2bcTUybVM46mFW',
 'cpcc_temp_min-daily': 'QmZwQ2wUhg4q3FGVEqKB4HQz231P2cxAHuGeyVtg7yuuYe',
 'edd-daily': 'QmZ741Q1UJjwp5VXf79f3yW7dr8gJv6rF8WVtNVjgv5n8C',
 'era5_land_2m_temp-hourly': 'Qmay7EYxDbzm9256rSq34qeKHMhbQcEoXxmu28Gp9cxE3G',
 'era5_land_precip-hourly': 'Qmc8dsgg3RxeusfMREUGCfPVMasbGDWSm7dLQ8WJbkSR9R',
 'era5_land_snowfall-hourly': 'QmTvn2MTbDytx3Ndq4p3TEDwhAbwESDLbzyzg6NzwX9859',
 'era5_land_wind_u-hourly': 'Qmet3kNoRaC2GweHFXiVTEuvB7kihMEWLKxN7L1ktfFcoH',
 'era5_land_wind_v-hourly': 'QmZcDvm7QkuDuUrAbc6BGQCj2jfZ2rusw3Tv3UTwa6pseF',
 'era5_surface_runoff-hourly': 'QmRsdQBquXF45E7P92FW6tkNSjkK88ptV68p9U65VkYByV',
 'era5_volumetric_soil_water_layer_1-hourly': 'Qmc9jDBmVmC3d3d1hYkLFjKmBFWcHX2FjAAAyN3D2f64zn',
 'era5_wind_100m_u-hourly': 'QmYAY9PTMvwuiNoJUdeVd3cYGfn9X4dqHNCb29GEGPFSUY',
 'era5_wind_100m_v-hourly': 'QmWQ6sndArwXca9vwfEeg3RJXAw8ZV9AdFzQEa3vxa5uR4',
 'ghcnd': 'QmdMaj2xQ5GZyv1ZR58Wuc5XVdtHo7tjqwv3kPAxa3opPV',
 'ghcnd-imputed-daily': 'Qmbo8KcpyjfQjwKc5c4P1P5huP2rEsV3Us2FSAg9ieg8gV',
 'ibtracs-tropical-storm': 'QmSVj332mrZ4dEPBCkXXNf8tdXdVKhiJUERdBDywdee1ix',
 'ibtracs_storm_basins': 'QmbweRv3g8VofeLB1kT7azXJ3Z31i2CNHiAXypoXbtecQG',
 'nass_corn-yearly': 'QmYjXRzthABhccUG816774ZJdtsMrn9JnzGeSUSc6RfRKw',
 'nass_soybeans-yearly': 'QmTmEbMoHWKc39uAQoRHavUKzfYDcoGLxjzwqgcSLmTnjF',
 'prismc-precip-daily': 'QmX7M7zCQyH96NHbRzKPw7osWfZAdgJQGYQ3bWzwuAgVvU',
 'prismc-tmax-daily': 'QmNib7ndJgizT1rx4hKH99UAfx2DgbrZChvUj19MTBeieR',
 'prismc-tmin-daily': 'QmeRkswobQW9vfaPb7EMEHMVEeM2kMUB7ARMDXw8Rq4dov',
 'rma_t_yield-single-value': 'QmSRVxXJwpnC8suuJ56rL1KQdhyBdfkQyRXUDEjNMyrTcf',
 'rma_t_yield_imputed-single-value': 'QmcnHf8PpQ9CEyYGVbhCKBA1biK7Xpqrhq3VMpbjNSdDYM',
 'rmasco_imputed-yearly': 'QmQ8amKRc2AZrE1C73hkao1vDCeKoL1XhLTfgtW2sS1Cjh',
 'rtma_dew_point-hourly': 'QmaLAarvpUGbGCXMUeCPMEm5ByHcZ9YRLN6mt9wVYEx9DJ',
 'rtma_pcp-hourly': 'QmSL645DARGXAygKgxkrxaLtotjYwQhAx8mnKFAfJnXWUD',
 'rtma_temp-hourly': 'QmVfHpD8rAb3zk1gisdi8XFyxH1it7eGQb6mt48j9BBx63',
 'rtma_wind_u-hourly': 'QmWH5D7AQyJupEuerP9zkL6rqb4u9X1zt13xfxFwmgbej7',
 'rtma_wind_v-hourly': 'QmRNvxW971GdyvkhUWHSWdCRAoZ8wnbV6zYhraR1J16GL8',
 'sco-yearly': 'QmeQD3DMR4F1MckAz6kBYRY4x8b6SGrTTAgnCiLyeuEPZd',
 'storm-simulated-hurricane': 'QmaAunmd9YaJYFJYS5di8e53yGduGh3MChcsHg8XGPeqhX',
 'teleconnections-el-nino-monthly': 'QmcfZLWWeA7a6kXPmGnJFYzSCisi6b1TfTodCL9afVEHPP',
 'vhi': 'QmfFKKEznuuXhoGQ6Zy3WP9HfAsjEnHwk6mpo44j1AFwtP'}

In [7]:
metadata = client.get_metadata(valid_name["cpcc_temp_max-daily"])

In [8]:
metadata

{'name': 'cpc_temp_max',
 'local path': './cpc/temp/max/20210702',
 'chain file': 'chain.json',
 'climate category': 'temperature',
 'compression': 'gzip',
 'date range': ['2021-07-02T00:00:00', '2021-07-02T00:00:00'],
 'entry delimiter': ',',
 'filename decimal precision': 3,
 'latitude range': [-89.75, 89.75],
 'longitude range': [0.25, 359.75],
 'missing value': '',
 'period': 'daily',
 'precision': 0.01,
 'precision digits': 2,
 'previous hash': 'QmNsJ4m127NS6Zz2vmqRcBNNUA2F4kc23W9Cq9tjfctU9n',
 'resolution': 0.5,
 'revision': 'final',
 'documentation': {'cpc original data url': 'ftp://ftp.cpc.ncep.noaa.gov/',
  'cpc info url': 'https://www.cpc.ncep.noaa.gov/',
  'arbol chain info': "Follow the hashes in the 'previous hash' field backward until you reach a 'previous hash' value of 'null' to read the entire history of this set. Alternatively, you can get the entire chain of hashes from the 'chain.json' file in this directory",
  'arbol clustering': 'In all sets besides the root set, latitudes are compiled into zip or tar archives (code should be written to handle both cases) that contain each lat/lon in the latitude'},
 'time generated': '2021-07-03 17:28:25.230784',
 'unit of measurement': 'degC',
 'year delimiter': '\n',
 'climate index': 'temperature'}

# Preprocessing csv volumetric soil data

In [36]:
import pandas as pd
import os
#from datetime import datetime

In [93]:
def import_volumetric(filename):
    # Function to read data from local csv file on the hard drive
    # Args:
    # - filename : the file name of the csv which contains
    #   forecasts data of volumetric soil data
    # - the function return data var
    filename = os.path.join(os.path.abspath(""), filename)
    df = pd.read_csv(filename)
    return df

In [142]:
file = "era5_volumetric_soil_water_layer_1-hourly-5.0405866_7.9194225.csv"
df = import_volumetric(file)

In [143]:
df

                       date  value
0       1979-01-01 00:00:00  0.330
1       1979-01-01 01:00:00  0.330
2       1979-01-01 02:00:00  0.330
3       1979-01-01 03:00:00  0.330
4       1979-01-01 04:00:00  0.330
...                     ...    ...
373121  2021-07-25 17:00:00  0.431
373122  2021-07-25 18:00:00  0.431
373123  2021-07-25 19:00:00  0.431
373124  2021-07-25 20:00:00  0.431
373125  2021-07-25 21:00:00  0.432

[373126 rows x 2 columns]

In [145]:
label = "2021-01-07 00:00:00"
result = df.loc[label == df["date"]]

In [146]:
value_of_result = df.loc[label == df["date"], ["date","value"]]

In [147]:
value_of_result["value"].tolist()[0]

0.32

In [148]:
result = value_of_result.index[0]

In [149]:
current = result
selection = df.iloc[current-24*12 : current]

In [150]:
selection

                       date  value
368040  2020-12-26 00:00:00   0.33
368041  2020-12-26 01:00:00   0.33
368042  2020-12-26 02:00:00   0.33
368043  2020-12-26 03:00:00   0.33
368044  2020-12-26 04:00:00   0.33
...                     ...    ...
368323  2021-01-06 19:00:00   0.32
368324  2021-01-06 20:00:00   0.32
368325  2021-01-06 21:00:00   0.32
368326  2021-01-06 22:00:00   0.32
368327  2021-01-06 23:00:00   0.32

[288 rows x 2 columns]

In [152]:
list_selection = selection["value"].tolist()

In [153]:
data = value_of_result["value"].tolist()[0]

In [154]:
final = len([x for x in list_selection if data > x])

In [155]:
(final/288) * 100

68.40277777777779

In [156]:
result

368328

# Preprocessing of Wind speed data

In [192]:
def import_and_merge_wind(file1, file2):
    # Function to read data from local csv file on the hard drive
    # Args:
    # - filename : the file name of the csv which contains
    #   forecasts data of wind speed data
    # - the function return merged dataframe based on date column
    file1 = os.path.join(os.path.abspath(""), file1)
    file2 = os.path.join(os.path.abspath(""), file2)
    
    # load csv file on dataframe
    df1 = pd.read_csv(file1)
    df2 = pd.read_csv(file2)
    
    # split the df
    df1[["speed", "t1", "t2", "t3"]] = df1.value.str.split(" ", expand=True)
    df2[["speed", "t1", "t2", "t3"]] = df2.value.str.split(" ", expand=True)
    
    # remove column unusable
    df1.pop("value"), df1.pop("t1"), df1.pop("t2"), df1.pop("t3")
    df2.pop("value"), df2.pop("t1"), df2.pop("t2"), df2.pop("t3")
    
    # merge df1 and df2 based on date column
    df = pd.merge(df1, df2, on="date")
    
    return df

In [193]:
file_u = "era5_wind_100m_u-hourly-5.0405866_7.9194225.csv"
file_v = "era5_wind_100m_v-hourly-5.0405866_7.9194225.csv"
df = import_and_merge_wind(file_u, file_v)

In [203]:
df["value"] = df["speed_x"].to_frame() + df["speed_y"].to_frame()

KeyError: 'speed_è'

In [202]:
df["speed_x"].to_frame()

       speed_x
0         2.12
1         2.38
2          2.5
3         2.43
4         2.14
...        ...
373145    2.13
373146    2.57
373147    2.91
373148    2.94
373149    2.72

[373150 rows x 1 columns]

In [196]:
df

                       date speed_x speed_y     value
0       1979-01-01 00:00:00    2.12    2.01  2.122.01
1       1979-01-01 01:00:00    2.38    1.75  2.381.75
2       1979-01-01 02:00:00     2.5    1.49   2.51.49
3       1979-01-01 03:00:00    2.43    1.19  2.431.19
4       1979-01-01 04:00:00    2.14     0.5   2.140.5
...                     ...     ...     ...       ...
373145  2021-07-26 17:00:00    2.13     4.7   2.134.7
373146  2021-07-26 18:00:00    2.57    5.25  2.575.25
373147  2021-07-26 19:00:00    2.91     5.1   2.915.1
373148  2021-07-26 20:00:00    2.94    4.61  2.944.61
373149  2021-07-26 21:00:00    2.72    4.28  2.724.28

[373150 rows x 4 columns]

In [ ]:
value_of_result["value"].tolist()[0]

In [ ]:
result = value_of_result.index[0]

In [ ]:
current = result
selection = df.iloc[current-24*12 : current]

In [ ]:
data = value_of_result["value"].tolist()[0]

In [ ]:
final = len([x for x in list_selection if data > x])